.root {
    -fx-background-color: #383838;
    -fx-font-size: 10;
}

.label {
    -fx-text-fill: aliceblue
}

.button {
    -fx-background-color: linear-gradient(aliceblue, darkgray);
    -fx-background-radius: 6px;
}

.button-blue {
    -fx-background-color: linear-gradient(aliceblue, lightblue);
    -fx-background-radius: 6px;
}

#bold-label {
    -fx-font-weight: bold;
}